const express = require('express')
const app = express()
const cors = require('cors')
require('dotenv').config()
const bodyParser = require("body-parser")
const { json } = require('express/lib/response')
const { create } = require('domain')
app.use(
    bodyParser.urlencoded({
        extended: true
    })
);
app.use(cors())
app.use(express.static('public'))
app.get('/', (req, res) => {
    res.sendFile(__dirname + '/views/index.html')
});

//set up how IDs are formed 
function createID() {
    let letter = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'x', 'w', 'y', 'z'];
    let assignedLetter = Math.floor(Math.random() * letters.length());
    let assignId = new Date().getDay() + Math.floor(Math.random() * 100) + letter[assignedLetter];
    return assignId;
}
//set up arry/database of users
let users = [
    {
        username: 'User_1', _id: createID(), Log:
            [{ description: 'running', duration: 20, date: checkDate() }, { description: 'yoga', duration: 45, date: checkDate() }]
    }, 
    {
        username: 'User_2', _id: createID(), Log:
            [{ description: 'swim', duration: 30, date: checkDate() }, { description: 'walk', duration: 120, date: checkDate() }]
    }
];

//set date if none supplied
function checkDate(date) {
    let assignDate;
    if (date == null) {
        assignDate = new Date().toDateString();
    }
    else {
        assignDate = date.toDateString();
    }
    return assignDate;
} 

app.post('/api/users', (req, res) => {
    let username = req.body.username;
    users.push({ username: username, _id: createID()});
    res.json({username: username, _id: id });
})

app.get('/api/users', (req, res) => {
    res.json(users);
})

app.post('/api/users/:_id/exercises', (req, res) => {
    let id = req.params._id;
    let description = req.body.description;
    let duration = Number(req.body.duration);
    let date = checkDate(req.body.date);

    let idFound = false;
    let indexArray;
    users.forEach((user, index) => {
        if (user._id == id) {
            idFound = true;
            indexArray = index;
            username = user.username;
            let logReceived = { description: description, duration: duration, date: date };
            users[index].Log.push(logReceived);
        }

    });

    if (idFound == false) {
            res.json('Invalid ID');
            next();
    }

    res.json(
        {
            username: users[indexArray].username,
            description: description,
            duration: duration,
            date: date,
            _id: users[indexArray]._id
        }
    );
})

app.get('/api/users/:_id/logs?[from][&to][&limit]', (req, res) => {
    let id = req.params._id;
    let from = req.params.from.toDateString();
    let to = req.params.to.toDateString();
    let limit = req.params.limit;

    if (from == null && to == null && limit == null) {

        users.forEach(user => {
            if (user._id == id) {
                res.json({
                    username: user.username,
                    count: user.Log.length(),
                    _id: user._id,
                    Log: user.Log
                });

            }
        });
    }
    else if (from == null || to == null || limit == null) {
        res.json('Invalid parameters')
    }
    else {

        users.forEach(user => {
            if (user._id == id) {
                let logsWithinRange = [];
                //then need to forEach the logs to see the dates then stop at the limit
                user.Log.forEach(log => {
                    if (log.date >= from && log.date <= to) {
                        if (limit > 0) {
                            logsWithinRange.push(log);
                            limit--;
                        }
                    }
                });
                res.json({
                    username: user.username,
                    count: user.Log.length(),
                    _id: user._id,
                    Log: logsWithinRange
                });

            }
        });
    }
})

const listener = app.listen(process.env.PORT || 3000, () => {
    console.log('Your app is listening on port ' + listener.address().port)
})// JavaScript source code
